.button-block, .btn-primary  {
    background-color: #fff;
    color: #000;
    border: 1px solid silver;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:link {
    background-color: #fff;
    color: #000;
}
.mce-notification-inner,
.mce-notification-warning {
    display: none !important;
    visibility: hidden;
    height: 0;
    width: 0;
}

.admin-grid-tag {
    width: 200px;
}

blockquote {
    padding: 5px;
    border-left: 2px solid gray;
}

/*Shame css*/


#tinymce > div {
    border: 1px solid red;
}

.google-maps {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.content {
    max-height: 6em; /* (4 * 1.5 = 6) */
}
@media screen and (min-width: 640px) {
    .content {
        max-height: 12em;
    }
}

.justify-content-center {
    padding-top: 20px;
}