.button-block, .btn-primary  {
    background-color: #fff;
    color: #000;
    border: 1px solid silver;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:link {
    background-color: #fff;
    color: #000;
}
.mce-notification-inner,
.mce-notification-warning {
    display: none !important;
    visibility: hidden;
    height: 0;
    width: 0;
}